.Application {
    overflow: hidden;
}

.Application .bg-top {
    display: block;
    background-color: #e1e1e1;
}

.Application .bg-bottom {
    display: block;
    width: 100%;
}

.Application .pageContent {
    width: 928px;
    margin: 0 auto;
    padding: 0px 16px 0px 16px;
    overflow: hidden;
}

.Application .divider {
    display: block;
    padding: 16px 0px 0px 0px;
    border-bottom: 1px dashed #ceced0;
}