.AspectDisplayFrame {
    text-align: center;
    color: #e1e1e1;
    min-height: 96px;
}

.AspectDisplayFrame .aspectScreen {
    display: inline-block;
    margin: 0px 4px 0px 4px;
    border: 4px solid #ceced0;
    background-color: #00a0cb;
    max-width: 256px;
    max-height: 256px;
}

.AspectDisplayFrame .aspectScreen p {
    display: inline-block;
    font-size: 1.2em;
    line-height: 100%;
    overflow: hidden;
}

.AspectDisplayFrame .disabled {
    display: none;
}