.ContentControls {
    display: inline-block;
    width: 50%;
    vertical-align: text-top;
    padding-bottom: 32px;
}

.ContentControls .settingArea {
    display: block;
}

.ContentControls .settingArea .screenOptions {
    display: block;
    padding: 0px 0px 8px 0px;
}

.ContentControls .settingArea .screenOptions .screenId {
    display: inline-block;
    margin: 0px 16px 0px 8px;
    font-size: 1.2em;
}

.ContentControls .settingArea .screenOptions .inputBlock {
    display: inline-block;
    margin: 0px 4px 0px 0px;
    font-size: 0.6em;
    vertical-align: middle;
}

.ContentControls .settingArea .screenOptions .inputBlock div {
    display: inline-block;
    vertical-align: middle;
    min-width: 16px;
    height: 30px;
    padding: 0px 0px 0px 12px;
    text-align: center;
    background-color: #d4d4d4;
}

.ContentControls .settingArea .screenOptions .inputBlock input {
    display: inline-block;
    vertical-align: top;
    width: 80px;
    height: 30px;
    padding: 0;
    margin: 0;
    text-align: center;
    border: 0;
    outline: none;
    background-color: #d4d4d4;
}

.ContentControls .settingArea .screenOptions .inputBlock .range {
    height: 8px;
    margin: 4px 0px 0px 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    background-color: #404040;
}