.ContentControls {
    display: inline-block;
    width: 50%;
    vertical-align: text-top;
    padding-bottom: 32px;
}

.ContentControls .setting {
    display: inline-block;
    width: 100%;
    padding: 0px 0px 16px 0px;
}

.ContentControls .inputs {
    display: inline-block;
    margin: 0px 64px 0px 0px;
}

.ContentControls .inputs div {
    display: inline-block;
    margin-right: 4px;
}

.ContentControls .inputs p {
    display: inline-block;
    margin: 0px 4px 4px 0px;
    padding: 2px 4px 2px 4px;
    font-size: 0.6em;
}

.ContentControls .inputs input {
    display: block;
    width: 80px;
    height: 30px;
    text-align: center;
    border: 1px solid #404040;
    background-color: #d4d4d4;
}